*,
*::before,
*::after{
    box-sizing: border-box;
}

body{
    display: flex;
    align-content: center;
    font-family: 'Rock Salt', cursive;
}

.fond{
    background-image: url(Img/Arene.jpg);
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    background-size: cover;
}

header{
    display: flex;
    justify-content: center;
}

#info{
    display: flex;
    flex-direction: row;
    width: 90%;
    justify-items: center; 
    justify-content: space-around;
    text-align: center;
    margin-top: 3em;
    
} 

.containerNomJoueur{
    font-size: 2em;
    color: rgb(165, 202, 17);
    border: 4px solid rgb(224, 234, 23);
    background-color: rgb(6, 21, 236);
    border-radius: 25px;
    padding: 0 0.5em;
    max-height: 2em;
    display:flex;
    flex-direction: column;
    justify-content: space-around;    
}
#panneauInfo{
    font-size: 1.8em;
    color: brown;
    border: 4px solid red;
    background-color: black;
    border-radius: 25px;
    padding: 0.2em;
}

/************************************************
Prologue
//************************************************/

#button2 {
text-decoration: none;
padding: 10px 30px;
background-color: blue; 
color: white;
border: 1px solid gray;
border-style:inset;
}
#button2
{
border-radius: 12px;
border: 2px solid #46a28d;
}
#button2:hover {
background-color: yellow;
color:red;
}